<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<style>
    .author{
        color: red;
        display: inline-block
    }
</style>
<body>
    <h2>Posts by {{quote.posted_by.name}}</h2>
    <h2>Count: {{counter}}</h2>    
    {% for quote in quotes %}
    <p><div class='author'>{{quote.author}}</div> {{quote.message}} </p>
    {% endfor %}

    <a href="/quotes">Back to thine dashboard</a>
    <a href="/logout">No really get out</a>
</body>
</html>